#window {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#input {
  border-radius: 0;
}

#inner-box {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  display: flex;
}

#entry {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: block;
}
